/* .navbar{
    background-color:"white";
    width:"100%";
    padding:"10px";
    padding-left:"30px";
    display:"flex";
    align-items:"center";
    font-size:"24px";
    box-shadow: 2px 2px 2px 1px gray;
} */